.navbar {
  @include outer-container;
  height: $nav-height + $nav-height-secondary;

  @include media($ipad) {
    border-bottom: 1px solid $gray-extremely-light;
    @include outer-container(2000px);
    height: $nav-height;
  }
  background-color: $nav-bg-color;
  line-height: $nav-height;
  color: $gray-dark;
}

.navbar > .site-title {
  @include span-columns(8);
  @include media($ipad) {
    @include span-columns(3);
  }
  font-size: 1.5rem;
  font-weight: 600;
  a {
    color: $gray-dark;
    &:hover { color: $gray-dark; }
  }
  span.highlight {
    color: $highlight-color;
  }
  .site-logo {
    padding: 0 0.2rem 0 0.8rem;
  }
}

.nav-links {
  height: $nav-height-secondary;
  line-height: $nav-height-secondary;
  background-color: $nav-bg-color;
  border-top: 1px solid $gray-extremely-light;
  text-align: center;
  ul li {
    padding: 0 1rem;
    &.faq { display: none; }
  }
  @include span-columns(12);
  max-width: 100%;
  @include media($ipad) {
    padding: 0 1.5rem;
    height: $nav-height;
    line-height: $nav-height;
    overflow-y: hidden;
    border-top: none;
    @include span-columns(6);
    ul li {
      padding: 0 2rem;
    }
  }
}

.nav-login-btn {
  text-align: right;
  padding-right: 1rem;
  @include span-columns(4);
  @include omega;
  @include media($ipad) {
    float: right !important;
    @include span-columns(3);
  }
}

.login-btn {
  a {
    height: $nav-height - 2rem;
    line-height: $nav-height;
    margin-top: 1rem;
    border: 2px solid $gray-ghost-btn-outline;
    border-radius: 500px;
    padding: 0.5rem 1rem;
    color: $gray-ghost-btn-text;
    &:hover {
      border: 2px solid $gray-ghost-btn-outline-hover;
      color: $gray-ghost-btn-text-hover;
    }
  }
}
