.navbar {
  @include outer-container(2000px);
  height: $nav-height;
  background-color: $nav-bg-color;
  line-height: $nav-height;
  color: $gray-dark;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.navbar > .site-title {
  background-color: blue;
  @include span-columns(12);
  @include media($ipad) {
    @include span-columns(3);
  }
  font-size: 1.5rem;
  font-weight: 600;
  a {
    color: $gray-dark;
    &:hover { color: $gray-dark; }
  }
  span.highlight {
    color: $highlight-color;
  }
  .site-logo {
    padding: 0 0.2rem 0 0.8rem;
  }
}

.nav-links {
  background-color: red;
  line-height: $nav-height-secondary;
  @include span-columns(12);
  @include media($ipad) {
    line-height: $nav-height;
    @include span-columns(9);
  }
  ul {
    text-align: center;
    @include media($ipad) {
      text-align: left;
      display: block;
      padding: 0 1.5rem;
      li:last-child {
        float: right;
      }
    }
    li {
      padding: 0 0.5rem;
      display: inline-block;
    }
  }
}
