// colors
$highlight-color: #00ABFF;

$body-bg-color: #FFF;
$nav-bg-color: #FFF;
$main-bg-color: #FAFAFA;
$gray-dark: #404040;
$gray-mid: #666;
$gray-mid-dark: #444;
$gray-light: #8F8F8F;

// dimensions
$nav-height: 65px;
